[user]
	name = angelo
	email = angelo@fluxton.co.uk

[color]
  ui = true

[color "decorate"]
  head = bold white
  branch = bold magenta
  remotebranch = blue
  tag = bold red

[core]
	excludesfile = /home/angelo/dotfiles/gitignore-global

[push]
  default = simple

[status]
  showUntrackedFiles = all

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
