/* ~/.config/gtk-3.0/ */


window#vim-main-window {
    background-color: #2b241a;
    /* background-color: #1d242b; */
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 9px 5px 9px 17px;
    -VteTerminal-inner-border: 9px 5px 9px 17px;
}
